<section class="section feature feature--recently-viewed" data-feature="recently-viewed" data-recently-viewed-section>
  <div class="container">
  {% if section.settings.heading != blank %}
    <header class="section__header">
      <h2 class="section__heading">{{ section.settings.heading }}</h2>
      {% if section.settings.subheading != blank %}
        <p class="section__description">{{ section.settings.subheading }}</p>
      {% endif %}
    </header>
  {% endif %}
    <div data-recently-viewed-items></div>
  </div>
</section>

{% schema %}
{
  "name": "Recently viewed",
  "settings": [
    {"type": "text", "id": "heading", "label": "Heading", "default": "Recently viewed"},
    {"type": "text", "id": "subheading", "label": "Subheading"}],
  "presets": [
    {"name": "Recently viewed", "category": "Product"}
  ]
}
{% endschema %}
