<section class="section feature feature--countdown" data-feature="countdown">
  <div class="container">
  {% if section.settings.heading != blank %}
    <header class="section__header">
      <h2 class="section__heading">{{ section.settings.heading }}</h2>
      {% if section.settings.subheading != blank %}
        <p class="section__description">{{ section.settings.subheading }}</p>
      {% endif %}
    </header>
  {% endif %}
    <div class="countdown" data-countdown data-countdown-target="{{ section.settings.target }}">
      <span class="countdown__label">{{ section.settings.label }}</span>
      <div class="countdown__timer" data-countdown-timer></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Countdown timer",
  "settings": [
    {"type": "text", "id": "heading", "label": "Heading", "default": "Countdown timer"},
    {"type": "text", "id": "subheading", "label": "Subheading"},
    {"type": "text", "id": "label", "label": "Label", "default": "Offer ends in"},
    {"type": "text", "id": "target", "label": "Target date (YYYY-MM-DD)", "default": "2026-01-01"}
  ],
  "presets": [
    {"name": "Countdown timer", "category": "Marketing"}
  ]
}
{% endschema %}
